<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ivucenter.cloud.portal.alarms.template.reservedword.TemplateReservedWordDAO">

    <select id="list" resultType="CustomTemplateReservedWordVO" parameterType="CustomTemplateReservedWordVO">
    	SELECT 
			*
    	FROM template_reserved_word
    	WHERE template_id = #{templateId}
    	ORDER BY reserved_word DESC
    </select>
    
</mapper>
