<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ivucenter.cloud.portal.productUsageStatus.pv.ProductUsageStatusPvDAO">

    <select id="list" parameterType="CustomProductUsageStatusPvVO" resultType="CustomProductUsageStatusPvVO">
    	SELECT
    		*
    	FROM
    	(
			SELECT
				CC.customer_id AS customer_id
				, CC.customer_name AS customer_name
				, OC.cloud_name
				, OC.cloud_type
				, OP.project_id
				, OP.project_name
				, OP.project_alias
				, ONAS.nas_name
				, ONAS.nas_gb
				, ONAS.hourly_flag
				, ONAS.reg_datetime
			FROM
			(
				SELECT
					project_id
					, nas_name
					, nas_gb
					, IF(hourly_flag ='N', '월', '시간') AS hourly_flag
					, DATE_FORMAT(reg_datetime, '%Y-%m-%d %H:%i') AS reg_datetime
				FROM oss_nas
				WHERE del_flag = 'N'
				AND nas_type = 'PV'
				AND IFNULL(expire_datetime, '9999-12-31') >= NOW()
			) ONAS
			LEFT JOIN oss_project OP
			ON OP.project_id = ONAS.project_id

			LEFT JOIN oss_cloud OC
			ON OP.cloud_id = OC.cloud_id

			LEFT JOIN cmm_customer CC
			ON OP.customer_id=CC.customer_id

			WHERE 1=1
			AND OP.project_id is not null
			AND OP.delete_flag = 'N'
    		) A
			WHERE 1=1

    	<if test="searchKind == 'searchAll' and keyword != '' ">
    		AND (
    			A.project_name like CONCAT('%',#{keyword},'%')
    			OR A.project_alias like CONCAT('%',#{keyword},'%')
    			OR A.nas_name like CONCAT('%',#{keyword},'%')
    			)
    	</if>
		<if test="searchKind == 'project_name' and keyword != ''">
			AND
				A.project_name like CONCAT('%',#{keyword},'%')
		</if>
		<if test="searchKind == 'project_alias' and keyword != ''">
			AND
				A.project_alias like CONCAT('%',#{keyword},'%')
		</if>
		<if test="searchKind == 'nas_name' and keyword != ''">
			AND
				A.nas_name like CONCAT('%',#{keyword},'%')
		</if>
			<if test="cloudId != null ">
			AND A.cloud_id like CONCAT('%',#{cloudId},'%')
		   	</if>

		   	ORDER BY A.reg_datetime DESC

    	<if test="!length.equals(0)">
			LIMIT #{start}, #{length}
		</if>
	</select>

    <select id="total" parameterType="CustomProductUsageStatusPvVO" resultType="CustomProductUsageStatusPvVO">
    	SELECT
			COUNT(*) AS length
			, IFNULL(FORMAT(SUM(nas_gb), 0), 0) AS nas_gb
    	FROM	(
					SELECT
						*
					FROM	(
								SELECT
									CC.customer_id AS customer_id
									, CC.customer_name AS customer_name
									, OP.cloud_id
									, OP.project_id
									, OP.project_name
									, OP.project_alias
									, ONAS.nas_name
									, ONAS.nas_gb
									, ONAS.hourly_flag
									, ONAS.reg_datetime
								FROM (
									SELECT
										project_id
										, nas_gb
										, nas_name
										, IF(hourly_flag ='N', '월', '시간') AS hourly_flag
										, DATE_FORMAT(reg_datetime, '%Y-%m-%d %H:%i') AS reg_datetime
									FROM oss_nas
									WHERE del_flag = 'N'
									AND nas_type = 'PV'
									AND IFNULL(expire_datetime, '9999-12-31') >= NOW()
								) ONAS
								LEFT JOIN oss_project OP
								ON OP.project_id = ONAS.project_id

								LEFT JOIN cmm_customer CC
								ON OP.customer_id=CC.customer_id

								WHERE 1=1
								AND OP.project_id is not null
								AND OP.delete_flag = 'N'
							) A
					WHERE 1=1
			    	<if test="searchKind == 'searchAll' and keyword != '' ">
			    		AND (
			    			A.project_name like CONCAT('%',#{keyword},'%')
			    			OR A.project_alias like CONCAT('%',#{keyword},'%')
			    			OR A.nas_name like CONCAT('%',#{keyword},'%')
			    			)
			    	</if>
					<if test="searchKind == 'project_name' and keyword != ''">
						AND
							A.project_name like CONCAT('%',#{keyword},'%')
					</if>
					<if test="searchKind == 'project_alias' and keyword != ''">
						AND
							A.project_alias like CONCAT('%',#{keyword},'%')
					</if>
					<if test="searchKind == 'nas_name' and keyword != ''">
						AND
							A.nas_name like CONCAT('%',#{keyword},'%')
					</if>
				) X
		WHERE 1=1
	</select>

</mapper>