<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ivucenter.cloud.portal.pss.server.PssServerDAO">
	
    <select id="pssServerList" resultType="CustomPssServerVO">
		SELECT
		    cloud_id,
		    host_name,
		    host_alias,
		    ip_address
		FROM
		    pss_server
		order by host_name
	</select>
	
</mapper>